<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Don't echo to console -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.generate_statistics">false</property>
        <property name="log4j.logger.org.hibernate">OFF, stdout</property>
        

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Specify our mapping classes -->
        <mapping class="com.example.etrm.Trade"/>
        <mapping class="com.example.etrm.SpotTrade"/>
        <mapping class="com.example.etrm.FuturesTrade"/>
        <mapping class="com.example.etrm.Counterparty"/>
    </session-factory>
</hibernate-configuration>
